/venv
psistem/test.log
/psistem/venv
/balancer/venv
balancer/.vscode/settings.json
balancer/test.py
auto_proxy/venv
tg_data_parser/venv
tg_data_parser/session_name.session
tg_data_parser/__pycache__/config.cpython-310.pyc
tg_data_parser/.vscode/settings.json
tg_data_parser/crawler/__pycache__/client.cpython-310.pyc
tg_data_parser/crawler/__pycache__/data_crawler.cpython-310.pyc
.gitignore
tg_data_parser/source/__pycache__/decorators.cpython-310.pyc
tg_data_parser/data.log
tg_data_parser/session_name.session-journal
tg_data_parser/.env
.gitignore
tg_data_parser/views/__pycache__/channels.cpython-310.pyc
tg_data_parser/views/__pycache__/articles.cpython-310.pyc
tg_data_parser/__pycache__/config.cpython-311.pyc
.gitignore
tg_data_parser/crawler/__pycache__/data_crawler.cpython-311.pyc
tg_data_parser/source/__pycache__/decorators.cpython-311.pyc
tg_data_parser/source/__pycache__/mongo.cpython-311.pyc
tg_data_parser/source/__pycache__/elastic.cpython-311.pyc
tg_data_parser/views/__pycache__/articles.cpython-311.pyc
tg_data_parser/views/__pycache__/channels.cpython-311.pyc
tg_data_parser/aiotest.py
tg_data_parser/session1.session
tg_data_parser/session1.session-journal
tg_data_parser/session3.session
tg_data_parser/session3.session-journal
tg_data_parser/source/__pycache__/mongo.cpython-310.pyc
tg_data_parser/source/__pycache__/nlp.cpython-310.pyc
tg_data_parser/cats.json
.gitignore
tg_data_parser/articles.json
tg_data_parser/dump.zip
auto_proxy/.env
auto_proxy/data.log
auto_proxy/__pycache__/config.cpython-310.pyc
auto_proxy/proxy_checker/__pycache__/chek.cpython-310.pyc
auto_proxy/proxy_checker/__pycache__/check.cpython-310.pyc
api/venv
psistem(closed)
api/.env
web_client/venv
web_client/.env
web_client/data.log
web_client/__pycache__/config.cpython-310.pyc
web_client/views/__pycache__/main.cpython-310.pyc
web_client/static/bootstrap.bundle.min.js
web_client/static/bootstrap.min.css
web_client/forms/__pycache__/sign.cpython-310.pyc
