<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body style="background-color:#030929">
    <div class="container">
        <div class="text-white">
            <div class="row mt-3">
                <p>Пока просто форма, потом поменяю страницу</p>
            </div>
            <form method="post">
                <div class="row mt-3">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label for="name">Username</label>
                    </div>
                    <input name="username" class="col-xs-8 col-sm-8 col-md-8 col-lg-8"/>
                </div>
                <div class="row mt-3">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label for="name">Email</label>
                    </div>
                    <input name="email" class="col-xs-8 col-sm-8 col-md-8 col-lg-8"/>
                </div>
                <div class="row mt-3">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label for="name">Password</label>
                    </div>
                    <input name="password" class="col-xs-8 col-sm-8 col-md-8 col-lg-8"/>
                </div>   
                <div class="row mt-4">
                    <input type="submit" value="Отправить" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="display: block; margin-left: auto; margin-right: auto;"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>